# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI
instance/
*.db
*.sqlite3

# macOS
.DS_Store

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Build
build/
dist/
*.egg-info/
.eggs/

# Docker
*.pid
*.seed
*.bak
*.swp
*.swo
*.orig

# IDEs
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# Static files
staticfiles/
media/